[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "1.6.2"
black = "==19.10b0"
flake8 = "3.8.3"
isort = "*"
mypy = "0.783"
pytest = "5.4.3"
pytest-asyncio = "*"

[packages]
fastapi = "0.59.3"
passlib = {extras = ["bcrypt"], version = "1.7.2"}
pydantic = "1.6"
python-jose = {extras = ["cryptography"], version = "3.2.0"}
python-multipart = "0.0.5"
pyyaml = "5.3.1"
ulid-py = "*"
umongo = {extras = ["motor"], version = "2.2.0"}
uvicorn = "0.11.5"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
test = "bash -c 'pytest -vv domain/ command/ query/ adapter/ && pyreverse -o png  --ignore=__init__.py  --ignore=entity.py --ignore=entity_test.py domain/'"
setup = "python setup_datastore.py"
